$basicHeight: map-get($heightObj, basic);

.folder_section {
   padding-top: $basicHeight;
}

.folder_wrap {
   padding: 20px 15px;
}

.emptyBlock {
   >.emptyBg {
      background-image: url("~@/assets/img/page/img_mycoupon_list_empty_n@2x.png");
   }
}