<div>
   <InputPopup
      :isOpen="popupOption.isOpen"
      :popupTitle="popupOption.popupTitle"
      :message="popupOption.message"
      :inputType="popupOption.inputType"
      :placeholder="popupOption.placeholder"
      :eventName="popupOption.eventName"
      :validateRule="popupOption.validateRule"
      @verifyPw="verifyPw"
      ref="inputPopup"
   ></InputPopup>
   <MessagePopup
      :isOpen="msgOption.isOpen"
      :message="msgOption.message"
      :eventName="msgOption.eventName"
      @updateFeedBack="updateFeedBack"
   ></MessagePopup>
   <Loading v-show="isLoading"></Loading>
   <div class="mycontainer" v-if="isVerified">
      <validation-observer tag="div" class="dataOuter" ref="form">
         <div class="dataBox">
            <p class="dataTitle">基本資料</p>
            <div class="dataBody">
               <div class="dataRow">
                  <div class="block">
                     <router-link to="/member/fixMobile">{{ user.data.mobile }}</router-link>
                  </div>
                  <p class="dataName">帳號</p>
               </div>
               <div class="dataRow">
                  <div class="block">
                     <router-link to="/" class="leftIcon"></router-link>
                  </div>
                  <p class="dataName">密碼</p>
               </div>
            </div>
         </div>
         <div class="dataBox">
            <div class="dataBody">
               <validation-provider 
                  tag="div" 
                  class="dataRow" 
                  rules="required"
                  v-slot="{ errors }">
                  <input
                     type="text" 
                     class="form-control"
                     placeholder="請輸入您的姓名" 
                     v-model.trim="user.data.name">
                  <p class="dataName">姓名</p>
                  <p class="errMsg" v-show="errors.length !== 0">{{ errors[0] }}</p>
               </validation-provider>
               <validation-provider
                  tag="div"
                  class="dataRow"
                  rules="required"
                  v-slot="{ errors }">
                  <select class="form-control" v-model="user.data.gender">
                     <option 
                        v-for="item in genderList" 
                        :key="item.value"
                        :value="item.value"
                     >{{ item.title }}</option>
                  </select>
                  <p class="dataName">性別</p>
                  <p class="errMsg" v-show="errors.length !== 0">{{ errors[0] }}</p>
               </validation-provider>
            </div>
         </div>
         <div class="dataBox">
            <div class="dataBody">
               <div class="dataRow">
                  <input
                     type="email" 
                     class="form-control"
                     placeholder="請輸入電子信箱"
                     v-model.trim="user.data.email">
                  <p class="dataName">電子信箱</p>
               </div>
               <div class="dataRow">
                  <div class="block">
                     <span>{{ user.data.birthday }}</span>
                  </div>
                  <p class="dataName">出生日期</p>
               </div>
               <div class="dataRow">
                  <select 
                     class="form-control"
                     :class="{selectDown: resideInfo.city === ''}"
                     v-model="resideInfo.city">
                     <option value=""></option>
                     <option 
                        v-for="city in cityList" :key="city"
                        :value="city"
                     >{{ city }}</option>
                  </select>
                  <p class="dataName">縣市</p>
                  <div class="downIcon" :class="{ hide: resideInfo.city !== '' }"></div>
               </div>
               <div class="dataRow">
                  <select 
                     class="form-control"
                     :class="{selectDown: resideInfo.district === ''}"
                     v-model="resideInfo.district">
                     <option value=""></option>
                     <option 
                        v-for="district in districtList" :key="district"
                        :value="district"
                     >{{ district }}</option>
                  </select>
                  <p class="dataName">地區</p>
                  <div class="downIcon" :class="{ hide: resideInfo.district !== '' }"></div>
               </div>
               <div class="dataRow">
                  <input
                     type="text" 
                     class="form-control"
                     placeholder="請輸入地址" 
                     v-model.trim="user.data.address">
                  <p class="dataName">詳細地址</p>
               </div>
            </div>
         </div>
         <div class="dataBox">
            <div class="dataBody">
               <div class="dataRow">
                  <select 
                     class="form-control eigthInput"
                     v-model="user.data.security_question">
                     <option 
                        v-for="item in questionList"
                        :key="item.value"
                        :value="item.value"
                     >{{ item.title }}</option>
                  </select>
                  <p class="dataName">忘記密碼安全問題</p>
               </div>
               <validation-provider
                  tag="div"
                  class="dataRow"
                  rules="required"
                  v-slot="{ errors }">
                  <input
                     type="text" 
                     class="form-control sixInput"
                     placeholder="請輸入答案"
                     v-model.trim="user.data.security_answer">
                  <p class="dataName">安全問題答案</p>
                  <p class="errMsg" v-show="errors.length !== 0">{{ errors[0] }}</p>
               </validation-provider>
            </div>
         </div>
      </validation-observer>
      <div class="btnBox">
         <button @click="submitHandler" class="variation">儲存</button>
      </div>
   </div>
</div>