<section class="point_section" :class="{hasExpire: hasExpiredPoint}">
   <div class="fixBox" v-show="hasUserPoint">
      <div class="pointIntro">
         <p class="pointName">{{ pointName }}</p>
         <div class="pointTotal">
            <span class="count">{{ currentPointAmount }}</span>
            <span>點</span>
         </div>
         <div class="pointPeriod">
            <template v-if="hideDuration">
               <div>常規點數</div>
            </template>
            <template v-else>
               <div>使用期間</div>
               <div>:</div>
               <div>{{ pointUsageTime }}</div>
            </template>
         </div>
      </div>
      <div class="expireBox" v-if="hasExpiredPoint" @click="expiredPopupIsOpen = true">
         <div class="inner">
            <span>即將到期點數</span>
            <span class="expirePoint">{{ expiredPointAmount }}</span>
            <span>點</span>
            <span class="pointArrow"></span>
         </div>
      </div>
   </div>
   <Loading v-show="isLoading"></Loading>
   <PointPopup
      :isOpen.sync="expiredPopupIsOpen"
      pointTitle="即將到期點數"
      :pointAmount="expiredPointAmount">
      
   </PointPopup>
</section>