<section class="activity_section">
   <div class="controlPanel">
      <div class="layoutBox">
         <LayoutItem
            v-for="layout in layoutList"
            :key="layout.id"
            :layoutId="layout.id"
            :layoutClass="layout.class"
            :currentLayoutId="currentLayoutId"
            @layout="switchLayout"
         ></LayoutItem>
      </div>
      <div class="pointDesc" @click="pointPopupOption.isOpen = true">
         <PointSlider 
            v-if="hasPointSlider"
            :slideList="pointSlider.data"
         ></PointSlider>
      </div>
      <div class="text" @click="isSidebarOpen = true">篩選</div>
   </div>

   <PointPopup
      :isOpen.sync="pointPopupOption.isOpen"
      :pointTitle="pointPopupOption.title"
      :showPointAmount="pointPopupOption.showPointAmount">
      <ul class="myPointList" v-show="hasPointSlider">
         <li 
            v-for="item in pointSlider.data"
            :key="item.pointId">
            <div>{{ item.title }}</div>
            <div>
               <span class="amount">{{ item.amount }}</span>
               <span>點</span>
            </div>
         </li>
      </ul>
   </PointPopup>

   <ActivitySidebar
      :isOpen.sync="isSidebarOpen"
   ></ActivitySidebar>

   <Loading v-show="isLoading"></Loading>
   <div class="sidebarCover" :class="{show: isSidebarOpen}"></div>

</section>