<section class="couponInfo_section">
   <div class="banner">
      <div class="inner" :style="couponBackgroundImage"></div>
   </div>
   <div class="couponIntro">
      <div class="couponName">{{ couponTitle }}</div>
      <ul class="intorList">
         <li>
            <div class="title">使用期限</div>
            <div class="colon">:</div>
            <div class="content">{{ couponDuration }}</div>
         </li>
         <li>
            <div class="title">適用品牌</div>
            <div class="colon">:</div>
            <div class="content">{{ brandTitle }}</div>
         </li>
         <li>
            <div class="title">轉贈票券</div>
            <div class="colon">:</div>
            <div class="content">{{ couponTransferredText }}</div>
         </li>
      </ul>
      <div class="brandLogo" :style="brandBackgroundImage"></div>
   </div>
   <div class="usageBox">
      <div class="storeBox">
         <div class="title arrow">適用門市</div>
         <div class="content">
            <template v-if="allStoreAvailable">
               <span class="unit">全門市適用</span>
            </template>
            <template v-else>
               <span class="number">{{ storeCount }}</span>
               <span class="unit">家</span>
            </template>
         </div>
      </div>
      <div class="countBox">
         <div class="title">可用次數</div>
         <div class="content">
            <span class="number">{{ totalUageTimes }}</span>
            <span class="unit">次</span>
         </div>
      </div>
   </div>
   <div class="couponDesc" v-html="couponDesc"></div>


   <Loading v-show="isLoading"></Loading>

</section>