body {
   background-color: map-get($elBgColor, body);
}

//===置中區塊
.mycontainer {
   max-width: 576px;
   margin: 0 auto;
   padding: 20px 20px 20px 20px;
   @media (min-width: 750px) {
      max-width: 100%;
   }
}

//===logobox
#logoBox {
   >img {
      display: block;
      @include size(100%, 150px);
      object-fit: contain;
   }
}

//===validate error
.errMsg {
   margin-top: 2px;
   color: red;
   font-size: 14px;
}

#processBox {
   height: 270px;
   margin-bottom: 10px;
   background-size: 1125px 270px;
   background-position: center top;
   background-repeat: no-repeat;
   &.none {
      display: none;
   }
   &.step1 {
      background-image: url("~@/assets/img/page/img_register_step_01_n@3x.png");
   }
   &.step2 {
      background-image: url("~@/assets/img/page/img_register_step_02_n@3x.png");
   }
   &.step3 {
      background-image: url("~@/assets/img/page/img_register_step_03_n@3x.png");
   }
   @media (max-width: 900px) {
      height: 135px;
      background-size: 100% 100%;
   }
   @media (max-width: 576px) {
      height: 90px;
      background-size: contain;
   }
}

//===提示說明文字
.tipBox {
   padding: 0 30px;
   margin-bottom: map-get($gutter, basic);
   color: map-get($fontColor, input);
   font-size: 14px;
   line-height: 22px;
   text-align: justify;
   &.center {
      text-align: center;
   }
}

//===按鈕外層
.btnBox {
   padding-left: 20px;
   padding-right: 20px;
   >button,
   >a {
      @include basicSize(100%, map-get($heightObj, basic));
      @include elGutter(margin-bottom, map-get($gutter, basic));
      border-radius: map-get($radius, basic);
      text-align: center;
   }
   >a {
      line-height: map-get($heightObj, basic);
   }
   >.variation {
      color: #fff;
      border: none;
      background-color: var(--variationMain);
   }
}