body {
   background-color: map-get($elBgColor, body);
}

//===置中區塊
.mycontainer {
   max-width: 576px;
   margin: 0 auto;
   padding: 0px 20px 20px 20px;
   @media (min-width: 750px) {
      max-width: 100%;
   }
}

//===logobox
#logoBox {
   >img {
      display: block;
      @include size(100%, 150px);
      object-fit: contain;
   }
}

//===validate error
.errMsg {
   margin-top: 2px;
   color: red;
   font-size: 14px;
}

//===按鈕外層
.btnBox {
   padding-left: 20px;
   padding-right: 20px;
   >button,
   >a {
      @include basicSize(100%, map-get($heightObj, basic));
      @include elGutter(margin-bottom, map-get($gutter, basic));
      border-radius: map-get($radius, basic);
      text-align: center;
   }
   >a {
      line-height: map-get($heightObj, basic);
   }
   >.variation {
      color: #fff;
      border: none;
      background-color: var(--variationMain);
   }
}