:root {
   --variationMain: #0088bb;
   --variationSub: #4a4a4a;
   --variationAdorn: #f49f0a;
}
@import './reset';
@import './button';
@import './layout';
@import './formUI';
@import './vue_animation';