.serviceItem {
   width: 25%;
   padding-top: 80px;
   margin-bottom: map-get($gutter, basic);
   background-size: 100px 67px;
   background-repeat: no-repeat;
   background-position: center center;
   &.memberCard {
      background-image: url("~@/assets/img/ertranceIcon/btn_line_memberservice_membercard_n.png");
   }
   &.myCoupon {
      background-image: url("~@/assets/img/ertranceIcon/btn_line_memberservice_mycoupon_n.png");
   }
   &.consumeRecord {
      background-image: url("~@/assets/img/ertranceIcon/btn_line_memberservice_txnhistory_n.png");
   }
   &.message {
      background-image: url("~@/assets/img/ertranceIcon/btn_line_memberservice_messageinbox_n.png");
   }
   &.maintain {
      background-image: url("~@/assets/img/ertranceIcon/btn_line_memberservice_memberinfo_n.png");
   }
   &.logout {
      background-image: url("~@/assets/img/ertranceIcon/btn_line_memberservice_logout_n.png");
   }
   &.login {
      background-image: url("~@/assets/img/ertranceIcon/login.png");
      background-size: 45px;
   }
   &.news {
      background-image: url("~@/assets/img/ertranceIcon/btn_line_otherservice_news_n.png");
   }
   &.exchangeCoupon {
      background-image: url("~@/assets/img/ertranceIcon/btn_line_otherservice_couponactivity_n.png");
   }
   &.exchangePoint {
      background-image: url("~@/assets/img/ertranceIcon/btn_line_otherservice_pointactivity_n.png");
   }
   &.about {
      background-image: url("~@/assets/img/ertranceIcon/btn_line_otherservice_service_n.png");
   }
   &.menu {
      background-image: url("~@/assets/img/ertranceIcon/btn_line_otherservice_menu_n.png");
   }
}