<section class="folder_section">
   <ul class="tabList">
      <TabItem 
         v-for="info in tabInfo"
         :key="info.type"
         :tabTitle="info.title"
         :tabType="info.type"
         :currentCouponType="currentCouponType"
         @switchType="switchType"
      ></TabItem>
   </ul>
   <div class="folder_wrap">
      <CouponTabContent
         v-for="tab in tabInfo"
         :key="tab.type"
         :contentType="tab.type"
         :currentCouponType="currentCouponType"
      ></CouponTabContent>
   </div>
</section>