<div class="stepWrap">
   <validation-observer tag="div" class="formLayout" ref="form">
      <div class="formRow">
         <p class="formTitle">手機驗證碼</p>
         <validation-provider 
            tag="div" 
            class="formContent" 
            rules="required"
            v-slot="{ errors }">
            <input
               type="password" 
               class="form-control fiveInput"
               v-model.trim="user.verify_code">
            <p class="errMsg" v-show="errors.length !== 0">{{ errors[0] }}</p>
         </validation-provider>
      </div>
   </validation-observer>
   <div class="btnBox">
      <button class="variation" @click="submitHandler">驗證</button>
      <router-link to="/register/step1" class="btnAgain" replace>修改手機號碼</router-link>
   </div>
   <MessagePopup
      :isOpen="stepOption.isOpen"
      :message="stepOption.message"
      :eventName="stepOption.eventName"
      @stepFeedBack="stepFeedBack"
   ></MessagePopup>
</div>